# **Data Science Tools and Ecosystem**

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
+ R Language
+ Python
+ SQL
+ Java
+ Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. Java
4. C/C++
5. Julia

Some of the commonly used libraries used by data scientists include:
1. Numpy
2. Pandas
3. SciPy
4. TensorFlow
5. Matplotlib
6. PyTorch

| Data Science Toools | RStudio | Apache Spark | TensorFlow |
|---------------------| --------|--------------| -----------|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
# Define the value in minutes
minutes = 200

# Convert minutes to hours by dividing by 60
hours = minutes / 60

# Display the result
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

##Author
Raphael Farodoye